:root {
    --azul: rgb(10, 102, 194);
    --blanco: rgb(255, 255, 255);
    --crema: rgb(244, 242, 238);
    --marron: rgb(102, 102, 102);
}

td.Eti {
    text-align: left; /* Alinea el texto a la derecha en las celdas con la clase "label" */
}

h1 {
    color: var(--marron); 
    margin-bottom: 10px;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--crema); 
    margin: 0;
    padding: 0;
}

.ContainerPropuesta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 20px;
}



table {
    border-collapse: collapse;
    background-color: var(--blanco); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 470px;
    margin-top: 5px;
    border-radius: 20px;
}

th {
    background-color: var(--azul); 
    color: white;
    padding: 12px;
    text-align: left; 
}

td {
    padding: 12px; 
    text-align: left; 
    border-bottom: 1px solid #ddd;
}

input[type="text"], select {
    width: calc(100% - 24px);
    padding: 8px;
    margin: 4px 0;
    box-sizing: border-box;
}

input[type="text"], textarea, select, input[type="date"] {
    width: calc(100% - 1px);
    padding: 8px;
    margin: 4px 0;
    box-sizing: border-box;
}

/* Estilo campo de fecha */
input[type="date"] {
    width: 99%; /* valor según sea necesario */
}

.button-generate, input[type="submit"] {
    font-size: 13px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: var(--azul);
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button-generate:hover, input[type="submit"]:hover {
    background-color: #2980b9; 
}

.center {
    text-align: center;
}